<template>
    <v-container>
        <v-layout row>
            <v-flex xs12 sm8 offset-sm2>
                <v-alert  type="info" :value="true">
                    Please type amount in PLN
                </v-alert>
                <v-spacer></v-spacer>
                <v-alert  v-if="error === false"  type="success" :value="true">
                    {{ lastAmount }} PLN = {{ converted }} EUR
                </v-alert>
                <v-alert  v-else-if="error === true" type="error" :value="true">
                    Error<br> {{ message }}
                </v-alert>
            </v-flex>
        </v-layout>
        <v-form  @submit.prevent="convertToEuro" v-model="valid">
            <v-layout row>
                <v-flex xs12 sm8 offset-sm2>
                    <v-text-field
                        label="PLN"
                        v-model="amount"
                        :rules="amountRules"
                        :counter="10"
                        required
                    ></v-text-field>
                </v-flex>


            </v-layout>
            <v-layout row >
                <v-flex xs12 sm4 offset-sm4>
                    <v-btn block color="info"  type="submit">Convert to EUR</v-btn>
                </v-flex>
            </v-layout>

        </v-form>
    </v-container>

</template>


<script>
    export default {
        data: () => ({
        valid: false,
        amount: '',
        lastAmount: '',
        error: '',
        message: '',
        converted: '',
        amountRules: [
            v => !!v || 'Amount is required',
            v => v.length <= 10 || 'Amount is too high'
        ]
        }),
        methods: {
            convertToEuro(event) {
                if (this.valid == true) {
                    event.preventDefault();
                    this.lastAmount = this.amount;
                    axios.post('/currency', {
                      amount: this.amount,
                    })
                    .then(response => {
                          this.converted =  response.data.front_message.eur;
                          this.error = false;
                    })
                    .catch(error => {
                        this.error = true;
                        this.message = 'Invalid data, try again';
                    });}

            }
        }
        }
</script>
