<template>
        <v-app id="inspire">
            <v-navigation-drawer
                fixed
                :clipped="$vuetify.breakpoint.mdAndUp"
                app
                v-model="drawer"
            >
                <v-list dense>
                    <template v-for="item in items">
                        <v-layout
                            row
                            v-if="item.heading"
                            align-center
                            :key="item.heading"
                        >
                            <v-flex xs6>
                                <v-subheader v-if="item.heading">
                                    {{ item.heading }}
                                </v-subheader>
                            </v-flex>
                            <v-flex xs6 class="text-xs-center">
                                <a href="#!" class="body-2 black--text">EDIT</a>
                            </v-flex>
                        </v-layout>
                        <v-list-tile v-else @click="" :key="item.text">
                            <v-list-tile-action>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{ item.text }}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>
                </v-list>
            </v-navigation-drawer>
            <v-toolbar
                color="blue darken-3"
                dark
                app
                :clipped-left="$vuetify.breakpoint.mdAndUp"
                fixed
            >
                <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
                    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                    <span class="hidden-sm-and-down">Converter App</span>
                </v-toolbar-title>
            </v-toolbar>
            <v-content>
                <v-container fluid >
                    <v-layout justify align-left>
                        <converter-component></converter-component>
                    </v-layout>
                </v-container>
            </v-content>
        </v-app>
</template>

<script>
    export default {
        data: () => ({
        dialog: false,
        drawer: null,
        items: [
            { icon: 'phonelink', text: 'Converter' },
        ]
    }),
    }
</script>
